body {
    margin: 0;
    background: #faf6f2;
    font-family: "Inter", sans-serif;
    color: #5b3e32;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    font-size: 18px;
    background-color: #5b3e32;

}

.logo {
    font-weight: 700;
    font-size: 24px;
}

.nav a {
    margin-left: 15px;
    color: #fff;
    text-decoration: none;
    background-color: #d4a47a;
    padding: 10px;
    border-radius: 10px;
    transition: 0.2s ease;
}

.nav a:hover {
    opacity: 0.7;
    background-color: #d4a47a;
}

.hero {
    text-align: center;
    margin-top: 60px;
}

.hero h1 {
    font-size: 42px;
    font-weight: 600;
    line-height: 1.3;
    color: #5b3e32;
}

.search-box {
    margin-top: 35px;
    display: inline-flex;
    background: white;
    border-radius: 15px;
    padding: 6px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.06);
}

.search-box input {
    border: none;
    padding: 16px 18px;
    font-size: 16px;
    width: 350px;
    outline: none;
    border-radius: 12px;
}

.search-box button {
    background: #d4a47a;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    color: #fff;
    transition: 0.2s ease;
}

.search-box button:hover {
    opacity: 0.9;
}

.tags {
    margin-top: 25px;
}

.tags span {
    display: inline-block;
    background: white;
    padding: 8px 16px;
    margin: 6px;
    border-radius: 20px;
    font-size: 14px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.04);
}

.sections {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    gap: 100px;
    font-size: 24px;
    font-weight: 600;
}
